<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[[TITLE]]</title>
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />
    <link rel="stylesheet" href="/assets/css/styles-common.css" />
    <link
            rel="stylesheet"
            href="/assets/css/styles-desktop.css"
            media="screen and (min-width: 601px)"
    />
    <link
            rel="stylesheet"
            href="/assets/css/styles-mobile.css"
            media="screen and (max-width: 600px)"
    />
</head>
<body>
<div class="container">
    <header class="header">
        <div class="logo">
            <img src="/assets/images/logo-white.png" alt="Logo" />
        </div>
        <nav>
            <div class="dropdown">
                <button class="dropbtn">Code</button>
                <div class="dropdown-content">
                    <a href="repositories.html" target="_self">Repositories</a>
                    <a href="content.html" target="_self">Content</a>
                    <a href="about.html" target="_self">About DV8</a>
                </div>
            </div>
        </nav>
        <h1>Homepage of DV8</h1>
    </header>
    <div class="main">
        <div class="content">
            [[LEFT_COLUMN]]
        </div>
    </div>
    <footer class="footer">
        <div style="margin-right: 22px; margin-bottom: 0px;">
            <a title="CodeDV8 on Twitter" href="https://twitter.com/codedv8">X</a>
            <a title="CodeDV8 on Instagram" href="https://instagram.com/codedv8">Instagram</a>
        </div>
    </footer>
</div>
</body>
</html>
