body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4; /* Light gray background for the body */
    color: #333333; /* Dark gray text for better readability */
}

.column-left {
    background-color: #f4f4f4;
}

.column-right {
    background-color: #e4e4e4;
}

.content {
    background-color: #ffffff;
    width: 100%;
}

.content a,
.content a:visited {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}
.content a:hover,
.content .btn:hover {
    color: #2ecc71;
}

.container header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

footer {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}
footer a:visited {
    color: #ffffff;
    text-decoration: none;
}
footer a:hover {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

footer .button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
footer .button:hover {
    background-color: #2980b9;
}

/* Navigation Links */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #0056b3;
}



/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}